.navbar {
  display: flex;
  background-color: #222222;
  width: 200px;
  height: 100vh;
  color: white;
  top: 40px;
  position: fixed;
}

.menuTitle {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.list {
  padding: 8px;
  margin: 8px;
}

.list:hover,
.list:focus {
  background-color: #111111;
  border-radius: 8px;
  box-shadow: 0 0 0 5px #111111;
}
